extends layout.pug
include utils.pug

block content
    div(class = "ask_question_errors")
        +validationErrorSummary(errors)
    div(class = "ask_question")
        div(class = 'title') Ask a Question
            div(class = 'details')
                form(action="/askQuestions" method="post")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    +field("Title", "title" )
                    div(class='ask-question-form-spacing')
                        +field("Question", "text", "", "textarea")
                    div(class='form-group')
                        label(for='chosenCategory') 
                        select(name='chosenCategory', id="" class='ask-question-category-selector')
                            each category in categoryList
                                option(value=category.id)=category.name
                    div()
                        button(type="submit" class ="ask-question-button") Submit
