extends layout.pug
include utils.pug.

block content
    div
        p Would you like to ask a question?
    form(action="/askquestion" method="post")
        input(type="hidden", name="_csrf", value=csrfToken)
        +field("text", "text")
        +field("categoryId", "categoryId",)

