doctype html
html
  head
    block head
      link(rel="stylesheet" href="/stylesheets/index.css")
      script(src="/javascripts/layout.js")


      header(class = 'nav_bar')
        //1 far left -- logo which navigates to landing page
        a(href="/" )
          img(src="/images/DO_black-transparent.png" class = "logo")
        //2 search bar
        form(action="/searchresults", method="post")
          input(type="text" name="searchString" placeholder="Search..")
          button(type="submit" class ="search-button button" ) Go
        nav(class = "nav_container")
          ul
            li(class = "categories_button")
              select(name='chosenCategory', id="", class='search-category-selector')
                  option(value=null) Choose a question category
                  each category in categoryList
                      option(value=category.id)=category.name


        //5 if logged in, need logout button on far right
        if locals.authenticated
          div
            span(class='layout-greeter' id='layout-greeter') Welcome #{user.userName}
            div(class='logged-in-nav-buttons')
              a(href ='/askQuestions')
                button(class="ask-question-button button") Ask a Question
              form(action= "/users/logout" method= "post" )
                button(type= "submit" class="logout-button button") Logout
        else
            div(class = "login_signup")
              a(href="/users/login" )
                button(class="login-button button") Sign in

              a(href="/users/signup" )
                button(class = "signup-button button") Sign up

    if !locals.authenticated
        div(class='login-or-signup-prompt')
          span Please #[a(href="/users/login") log in] or #[a(href="/users/signup") sign up] to start asking questions.
    block content



    footer(class='contact-footer')
      div(class='contact-footer-header') Developed By:
      div(class='contact-container')
        div(class='contact') Adam Lovett
          div(class='contact-link')
            a(href='https://github.com/adamLovettApps') Github
            span |
            a(href='#') LinkedIn
            span |
            a(href=`mailto:''`) Email
        div(class='contact') Andrew Musta
          div(class='contact-link')
            a(href='https://github.com/enomilan') Github
            span |
            a(href='#') LinkedIn
            span |
            a(href=`mailto:''`) Email
        div(class='contact') Geoffery Yang
          div(class='contact-link')
            a(href='https://github.com/geoffyang') Github
            span |
            a(href='#') LinkedIn
            span |
            a(href=`mailto:''`) Email
        div(class='contact') James Mayfield
          div(class='contact-link')
            a(href='https://github.com/Jodm522') Github
            span |
            a(href='#') LinkedIn
            span |
            a(href=`mailto:''`) Email
