extends layout.pug
include utils.pug


block content
    div(class = "login_errors")
        +validationErrorSummary(errors)
    div(class = "login_user")
        div(class = 'title') Log In
            div(class = 'details')
                form(action="/users/login", method="post")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    +field("Username", "userName",  "")
                    +field("Password", "password", "", "password" )
                    div()
                        button(type="submit" class ="login-button" ) Submit
                form(action="/demo", method="post")
                    button(type="submit" class ="demo-user" ) Demo User

    div(class='login-to-signup')
        span Don't have an account? #[a(href="/users/signup") Sign up] to start asking questions.
