extends layout.pug
include utils.pug

block content
    div
        h1=question.title
        h2=question.text
    if locals.authenticated
        form(action=`/answerquestion/${question.id}`, method="post")
            textarea(name="text")
            button(type="submit") Submit
    else
        span Please #[a(href="/users/login") log in] to answer questions.
    div(id='answersDiv')
        each answer in question.dataValues.Answers
            div=answer.text
        

