extends layout.pug
include utils.pug

block content
    div(class = "signup_errors")
        +validationErrorSummary(errors)
    div(class = "signup_user")
        div(class = 'title') Sign Up
            div(class = 'details')
                form(action="/users/signup", method="post")
                    input(type="hidden" name ="_csrf" value = csrfToken)
                    div(class='form-field-div')
                        +field("Username", "userName", user.userName,"","Enter your username" )
                    div(class='form-field-div')
                        +field("First Name", "firstName", user.firstName, "", "Enter your first name"  )
                    div(class='form-field-div')
                        +field("Last Name", "lastName", user.lastName, "", "Enter your last name"  )
                    div(class='form-field-div')
                        +field("Email", "email", user.email, "email", "Enter your email"  )
                    div(class='form-field-div')
                        +field("Password", "password", "", "password", "Enter your password" )
                    div(class='form-field-div')
                        +field("Confirm your password", "confirmPassword", "", "password", "Confirm password" )
                    div()
                        button(type="submit" class ="signup-button button" ) Submit
                form(action="/users/demo", method="post")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    button(type="submit" class ="login-button button" ) Demo User                        
    div(class='signup-to-togin')
        span Already have an account? #[a(href="/users/login") Log in] to start asking questions.
