/*------------------root variable setup------------------------*/
:root {
  --main-background: #222831;
  --secondary-background: #2d4059;
  --accent-color: #ff5722;
  --text-color: #eeeeee;
}

/*----------------------Basic body setup----------------------*/

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-kerning: auto;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
}
body {
  text-align: center;
  background-color: var(--main-background);
  color: var(--text-color);
}

/*------------------------Navbar setup-------------------------*/

.nav_bar {
  background-color: var(--secondary-background);
}
.logo {
  justify-self: stretch;
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

img {
  max-width: 150px;
  max-height: 100%;
}

.nav_container {
  list-style: none;
}

.nav_container li {
  display: inline-block;
  padding: 0px 10px;
}

.nav_container li a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav_container li a:hover {
  color: var(--accent-color);
}
.login_signup {
  padding: 0px 50px;
}

.login-button,
.signup-button,
.ask-question-button,
.search-button,
.logout-button,
.search-category-selector {
  padding: 5px 15px;
  margin: 5px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.login-button:hover,
.signup-button:hover,
.ask-question-button:hover,
.search-button:hover,
.logout-button:hover,
.search-category-selector:hover  {
  background-color: #ff562285;
}

/*--------------------------signup setup------------------------*/

.signup_user {
max-width: 500px;
  width: 100%;
  background: var(--secondary-background);
  padding: 25px 30px;
  border-radius: 10px;
  margin: 100px auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  border: 1px solid var(--accent-color);
}
.signup_user .title {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
}

.signup_user form .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.signup_user .details {
  margin-top: 20px;
}

.signup_errors {
  background-color: red;
  max-width: 350px;
  margin: auto;
  margin-top: 20px;
}

.signup_errors ul {
  list-style-type: none;
}
.signup_user .form-control {

  margin: 0px 0 0px 0;
  width: calc(100%/2- 20px);
  height: 45px;
}

.signup-to-togin {
  margin-top: -60px;
}

.signup-to-togin a{
  color: var(--text-color);
}

/*--------------------------login setup------------------------*/
.login_user {
max-width: 500px;
  width: 100%;
  background: var(--secondary-background);
  padding: 25px 30px;
  border-radius: 10px;
  margin: 100px auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  border: 1px solid var(--accent-color);
}
.login_user .title {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
}

.login_user form .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.login_user .details {
  margin-top: 20px;
}

.login_errors {
  background-color: red;
  max-width: 350px;
  margin: auto;
  margin-top: 20px;
}

.login_errors ul {
  list-style-type: none;
}

.login_user .form-control {

  margin: 0px 0 0px 0;
  width: calc(100%/2- 20px);
  height: 45px;
}

.login-to-signup {
  margin-top: -60px;
}

.login-to-signup a{
  color: var(--text-color);
}

/*--------------------------askquestion page setup------------------------*/
.ask_question {
max-width: 500px;
  width: 100%;
  background: var(--secondary-background);
  padding: 25px 30px;
  border-radius: 10px;
  margin: 100px auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  border: 1px solid var(--accent-color);
}
.ask_question .title {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
}

.ask_question form .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.ask-question-form-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ask_question form .form-group input{
  width: 350px;
  padding: 10px;
}

.ask_question form .form-group textarea{
  height: 400px;
  width: 350px;
  padding: 10px;
}

.ask_question .details {
  margin-top: 20px;
}

.ask_question_errors {
  background-color: red;
  max-width: 350px;
  margin: auto;
  margin-top: 20px;
}

.ask_question_errors ul {
  list-style-type: none;
}

.ask_question .form-control {

  margin: 0px 0 0px 0;
  width: calc(100%/2- 20px);
  height: 45px;
}

/*--------------------------landing page setup------------------------*/

.landing-page-title {
  font-size: 30px;
  padding: 10px 30px;
  margin: 20px;
  border: 3px solid var(--accent-color);
  border-radius: 1rem;
  display: inline-block;
}

.landing-page-top-10 {
  margin-bottom: 20px;
}

.landing-page-top-10 p{
  font-size: 25px;
  color: var(--accent-color);
}

.landing-question-1 {
  grid-area: landing-question-1;
}

.landing-question-2 {
  grid-area: landing-question-2;
}

.landing-question-3 {
  grid-area: landing-question-3;
}

.landing-question-4 {
  grid-area: landing-question-4;
}

.landing-question-5 {
  grid-area: landing-question-5;
}

.landing-question-6 {
  grid-area: landing-question-6;
}

.landing-question-7 {
  grid-area: landing-question-7;
}

.landing-question-8 {
  grid-area: landing-question-8;
}

.landing-question-9 {
  grid-area: landing-question-9;
}

.landing-question-10 {
  grid-area: landing-question-10;
}

.landing-question-box-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "landing-question-1 landing-question-2"
    "landing-question-3 landing-question-4"
    "landing-question-5 landing-question-6 "
    "landing-question-7 landing-question-8 "
    "landing-question-9 landing-question-10 ";
    gap: 40px 120px;
}


.landing-question-box {
  color: var(--text-color);
  background-color: var(--secondary-background);
  border: 1px solid var(--accent-color);
  border-radius: 2rem;
  padding:30px;
  width: 400px;
  height: 400px;
  text-align: left;
}

.landing-question-title-text-wrapper {
  height: 290px;
}

.landing-question-box-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  border-radius: 1rem;
  max-height: 80px;
  overflow-y: hidden;
}

.landing-question-box-top-divider {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

.landing-question-box-text {
  height: 180px;
  overflow-y: hidden;
}

.landing-question-box-category {
  position: relative;
  bottom: -10px;
  left: 10px;
  background-color: var(--main-background);
  padding: 7px 10px;
  display: inline-block;
  border-radius: 2rem;
}

.landing-question-box-userName {
  position: relative;
  left: 220px;
  bottom: 40px;
  overflow: hidden;
}

.landing-question-box-score {
  position: relative;
  left: 220px;
  bottom: -5px;
}

/*--------------------------question page setup------------------------*/
.question-page-question-box-container {
  display:grid;
  justify-content: center;
  margin-top: 20px;
}


.question-page-question-box {
  color: var(--text-color);
  background-color: var(--secondary-background);
  border: 1px solid var(--accent-color);
  border-radius: 2rem;
  padding:30px;
  width: 1200px;
  text-align: left;
}

/* .question-page-question-title-text-wrapper {

} */

.question-page-question-box-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  border-radius: 1rem;
  overflow-y: hidden;
}

.question-page-question-box-top-divider {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

.question-page-question-box-text {
  margin-bottom:8px;
  overflow-wrap: break-word;
}

.question-page-question-box-category {
  position: relative;
  bottom: -60px;
  left: 10px;
  background-color: var(--main-background);
  padding: 7px 10px;
  display: inline-block;
  border-radius: 2rem;
}

.question-page-question-box-score {
  position: relative;
  left: 1000px;
  bottom: -30px;
}

.question-page-question-box-userName {
  position: relative;
  left: 1000px;
  bottom: 15px;
  overflow: hidden;
}

/* .question-page-question-voting-icons {
  display:flex;
  flex-direction: row; 
  position: relative;
  left: 1100px;
  bottom: -48px;
} */

.question-page-upvote-question-icon {
  position: relative;
  left: 1100px;
  bottom: -48px;
  margin-right: 6px;
  z-index: 1;
}

.question-page-downvote-question-icon {
  position: relative;
  left: 1100px;
  bottom: -48px;
  margin-right: 6px;
  z-index: 1;
}

.unclickable-vote-button {
  pointer-events: none;
}

.upvoted-arrow {
  color: var(--accent-color);
}

.downvoted-arrow {
  color: #3a99be;
}


/*--------------------------search results page setup------------------------*/


.search-page-title {
  font-size: 30px;
  padding: 10px 30px;
  margin: 20px;
  border: 3px solid var(--accent-color);
  border-radius: 1rem;
  display: inline-block;
}

.search-page-top-10 {
  margin-bottom: 20px;
}

.search-page-top-10 p{
  font-size: 25px;
  color: var(--accent-color);
}

.search-question-1 {
  grid-area: search-question-1;
}

.search-question-2 {
  grid-area: search-question-2;
}

.search-question-3 {
  grid-area: search-question-3;
}

.search-question-4 {
  grid-area: search-question-4;
}

.search-question-5 {
  grid-area: search-question-5;
}

.search-question-6 {
  grid-area: search-question-6;
}

.search-question-7 {
  grid-area: search-question-7;
}

.search-question-8 {
  grid-area: search-question-8;
}

.search-question-9 {
  grid-area: search-question-9;
}

.search-question-10 {
  grid-area: search-question-10;
}



.search-question-box-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "search-question-1 search-question-2"
    "search-question-3 search-question-4"
    "search-question-5 search-question-6 "
    "search-question-7 search-question-8 "
    "search-question-9 search-question-10 ";
    gap: 40px 120px;
}

.search-question-box {
  color: var(--text-color);
  background-color: var(--secondary-background);
  border: 1px solid var(--accent-color);
  border-radius: 2rem;
  padding:30px;
  width: 400px;
  height: 400px;
  text-align: left;
}

.search-question-title-text-wrapper {
  height: 290px;
}

.search-question-box-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 1rem;
  max-height: 80px;
  overflow-y: hidden;
}

.search-question-box-top-divider {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

.search-question-box-text {
  height: 180px;
  overflow-y: hidden;
}

.search-question-box-category {
  position: relative;
  bottom: -10px;
  left: 10px;
  background-color: var(--main-background);
  padding: 7px 10px;
  display: inline-block;
  border-radius: 2rem;
}

.search-question-box-userName {
  position: relative;
  left: 220px;
  bottom: 40px;
  overflow: hidden;
}

.search-question-box-score {
  position: relative;
  left: 220px;
  bottom: -5px;
}

/*--------------------------footer setup------------------------*/
 
.contact-footer {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px dashed var(--accent-color);
  border-radius: 1rem;

  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}


.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.contact {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background-image: radial-gradient(80px 20px at center, #2d4059,  #222831);
}

.contact-link {
  margin-top:5px;
}

.contact-link a {
  color: var(--accent-color);
  text-decoration: none;
}
