/*------------------root variable setup------------------------*/
:root {
  --main-background: #222831;
  --secondary-background: #2d4059;
  --accent-color: #ff5722;
  --text-color: #eeeeee;
}

/*----------------------Basic body setup----------------------*/

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-kerning: auto;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
}
body {
  text-align: center;
  background-color: var(--main-background);
  color: var(--text-color);
}
/* dropdown list setup */
option {
  background-color: #ff562285;
}

/* Scrollbar setup */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-background);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 10px;
}
/* scrollbar intersection */
::-webkit-scrollbar-corner {
  background-image: url("../images/corner-image.png");
}
.anchor-button {
  text-decoration: none;
  color: red;
}
/*------------------------Navbar setup-------------------------*/

.nav_bar {
  background-color: var(--secondary-background);
}
.logo {
  justify-self: stretch;
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

img.logo {
  max-width: 150px;
  max-height: 50px;
}

.nav_container {
  list-style: none;
}

.nav_container li {
  display: inline-block;
  padding: 0px 10px;
}

.nav_container li a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav_container li a:hover {
  color: var(--accent-color);
}
.login_signup {
  padding: 0px 50px;
}

/* .login-button,
.signup-button,
.ask-question-button,
.search-button,
.logout-button,
*/
.search-category-selector,
.ask-question-category-selector,
.anchor-button,
.button {
  color: var(--main-background);
  font-weight: 900px;
  padding: 5px 15px;
  margin: 5px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* .login-button:hover,
.signup-button:hover,
.ask-question-button:hover,
.search-button:hover,
.logout-button:hover,

*/

.ask-question-category-selector:hover,
.search-category-selector:hover,
.button:hover,
.anchor-button:hover {
  background-color: #ff562285;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px #222831 inset;
  -webkit-text-fill-color: var(--text-color);
}

input {
  background-color: #222831;
  color: var(--text-color);
  border: 1px solid #ff562285;
  border-radius: 10px;
}

textarea {
  background-color: #222831;
  color: var(--text-color);
  border: 1px solid #ff562285;
  border-radius: 10px;
  resize: none;
}

input {
  padding: 5px;
}

.bump-form-label {
  position: relative;
  top: 15px;
}

/*--------------------------login/signup prompt setup------------------------*/

.login-or-signup-prompt {
  margin-top:10px;
  margin-bottom: -5px;
  font-size: 14px;
  color: var(--text-color);
}

.login-or-signup-prompt a {
  color: var(--text-color);
}
/*--------------------------signup setup------------------------*/

.signup_user {
  max-width: 500px;
  width: 100%;
  background: var(--secondary-background);
  padding: 25px 30px;
  border-radius: 10px;
  margin: 100px auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--accent-color);
}
.signup_user .title {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
}

.signup_user form .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.signup_user .details {
  margin-top: 20px;
}

.signup_errors {
  background-color: red;
  max-width: 350px;
  margin: auto;
  margin-top: 20px;
}

.signup_errors ul {
  list-style-type: none;
}
.signup_user .form-control {
  margin: 0px 0 0px 0;
  width: calc(100% / 2- 20px);
  height: 45px;
}

.signup-to-togin {
  margin-top: -60px;
}

.signup-to-togin a {
  color: var(--text-color);
}

.form-field-div {
  margin-bottom: 10px;
}






/*--------------------------answer form setup------------------------*/

.add-answer-wrapper {
  margin-top:-80px;
}

.add-answer {
  max-width: 1200px;
  width: 100%;
  background: var(--secondary-background);
  padding: 25px 30px;
  border-radius: 2rem;
  margin: 100px auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--accent-color);
}
.add-answer .title {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
}

.add-answer form .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-answer .details {
  margin-top: 20px;
}

.answer-text-box {
  height: 150px;
  width: 1150px;
  padding: 10px;
}

.add-answer .form-control {
  margin: 0px 0 0px 0;
  width: calc(100% / 2- 20px);
  height: 45px;
}


/*--------------------------login setup------------------------*/
.login_user {
  max-width: 500px;
  width: 100%;
  background: var(--secondary-background);
  padding: 25px 30px;
  border-radius: 10px;
  margin: 100px auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--accent-color);
}
.login_user .title {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
}

.login_user form .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login_user .details {
  margin-top: 20px;
}

.login_errors {
  background-color: red;
  max-width: 350px;
  margin: auto;
  margin-top: 20px;
}

.login_errors ul {
  list-style-type: none;
}

.login_user .form-control {
  margin: 0px 0 0px 0;
  width: calc(100% / 2- 20px);
  height: 45px;
}

.login-to-signup {
  margin-top: -60px;
}

.login-to-signup a {
  color: var(--text-color);
}

/*--------------------------askquestion page setup------------------------*/
.ask_question {
  max-width: 500px;
  width: 100%;
  background: var(--secondary-background);
  padding: 25px 30px;
  border-radius: 10px;
  margin: 100px auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--accent-color);
}
.ask_question .title {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
}

.ask_question form .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ask-question-form-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ask_question form .form-group input {
  width: 350px;
  padding: 10px;
}

.ask_question form .form-group textarea {
  height: 400px;
  width: 350px;
  padding: 10px;
}

.ask_question .details {
  margin-top: 20px;
}

.ask_question_errors {
  background-color: red;
  max-width: 350px;
  margin: auto;
  margin-top: 20px;
}

.ask_question_errors ul {
  list-style-type: none;
}

.ask_question .form-control {
  margin: 0px 0 0px 0;
  width: calc(100% / 2- 20px);
  height: 45px;
}

/*--------------------------landing page animation setup------------------------*/

.landing-page-title {
  font-size: 30px;
  padding: 10px 30px;
  margin: 20px;
  border: 3px solid #ff562285;
  border-radius: 1rem;
  display: inline-block;
  /* animation: animate 5s; */
  /* white-space: nowrap; */
  /* overflow: hidden;
  position: relative; */
}

.content-slider {
  width: 100%;
  height: 90px;
}

.slider {
  height: 90px;
  width: 680px;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 90px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 60px;
  position: absolute;
  top: -25px;
  list-style: none;
}

.slider .quote {
  font-size: 40px;
  font-style: italic;
}

.slider li.anim1 {
  animation: cycle 11s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 11s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 11s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 11s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 11s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 35px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -10px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -10px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -10px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -10px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -25px;
    opacity: 0;
  }
  16% {
    top: -25px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 25px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -25px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -25px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -25px;
    opacity: 0;
  }
  36% {
    top: -25px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 25px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -25px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -25px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -25px;
    opacity: 0;
  }
  56% {
    top: -25px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 25px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -25px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -25px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -25px;
    opacity: 0;
  }
  76% {
    top: -25px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 25px;
    opacity: 0;
    z-index: 0;
  }
}




@keyframes animate {
  0% {
    width: 0ch;
  }

  100% {
    width: 48ch;
  }
}





.landing-page-top-10 {
  margin-bottom: 20px;
}

.landing-page-top-10 p {
  font-size: 25px;
  color: var(--accent-color);
}

.landing-question-1 {
  grid-area: landing-question-1;
}

.landing-question-2 {
  grid-area: landing-question-2;
}

.landing-question-3 {
  grid-area: landing-question-3;
}

.landing-question-4 {
  grid-area: landing-question-4;
}

.landing-question-5 {
  grid-area: landing-question-5;
}

.landing-question-6 {
  grid-area: landing-question-6;
}

.landing-question-7 {
  grid-area: landing-question-7;
}

.landing-question-8 {
  grid-area: landing-question-8;
}

.landing-question-9 {
  grid-area: landing-question-9;
}

.landing-question-10 {
  grid-area: landing-question-10;
}

.landing-question-box-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "landing-question-1 landing-question-2"
    "landing-question-3 landing-question-4"
    "landing-question-5 landing-question-6 "
    "landing-question-7 landing-question-8 "
    "landing-question-9 landing-question-10 ";
  gap: 40px 120px;
}

.landing-question-box {
  color: var(--text-color);
  background-color: var(--secondary-background);
  border: 1px solid var(--accent-color);
  border-radius: 2rem;
  padding: 30px;
  width: 400px;
  height: 400px;
  text-align: left;
}

.landing-question-title-text-wrapper {
  height: 290px;
}

.landing-question-box-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  border-radius: 1rem;
  max-height: 80px;
  overflow-y: hidden;
}

.landing-question-box-top-divider {
  border: 1px solid #ff562285;
  border-radius: 5px;
  margin-bottom: 10px;
}

.landing-question-box-text {
  height: 180px;
  overflow-y: hidden;
}

.landing-question-box-category {
  position: relative;
  bottom: -10px;
  left: 10px;
  background-color: var(--main-background);
  padding: 7px 10px;
  display: inline-block;
  border-radius: 2rem;
}

.landing-question-box-userName {
  position: relative;
  left: 220px;
  bottom: 40px;
  overflow: hidden;
}

.landing-question-box-score {
  position: relative;
  left: 220px;
  bottom: -5px;
}

/*--------------------------question page setup------------------------*/
.question-page-question-box-container {
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.question-page-question-box {
  color: var(--text-color);
  background-color: var(--secondary-background);
  border: 1px solid var(--accent-color);
  border-radius: 2rem;
  padding: 30px;
  width: 1200px;
  text-align: left;
}
.answer-div {
  background-color: var(--secondary-background);
  padding: 20px;
  margin: 5px auto;
  align-items: flex;
  border: 1px solid var(--accent-color);
  border-radius: 2rem;
  width: 700px;
  justify-content: space-around;
  align-items: center;
}

/* .question-page-question-title-text-wrapper {

} */

.question-page-question-box-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  border-radius: 1rem;
  overflow-y: hidden;
}

.question-page-question-box-top-divider {
  border: 1px solid #ff562285;
  border-radius: 5px;
  margin-bottom: 10px;
}

.question-page-question-box-text {
  margin-bottom: 8px;
  overflow-wrap: break-word;
}

.answer-question-box-title {
  font-size: large;
  color: var(--text-color);
}
.answerQuestionForm {
  justify-content: space-between;
  display: none;
  background-color: var(--secondary-background);
  border: 1px solid var(--accent-color);
  border-radius: 2rem;
  padding: 30px;
  width: 600px;
  height: 425px;
  z-index: 10;
  top: 50%;
  position: absolute;
  left: 50%;
  margin-top: -212px;
}
.answer-text-box {
  margin: 0px 0 0px 0;
  width: 100%;
  height: 300px;
}
.question-page-question-box-category {
  position: relative;
  bottom: -70px;
  left: 10px;
  background-color: var(--main-background);
  padding: 7px 10px;
  display: inline-block;
  border-radius: 2rem;
}

.question-page-question-box-score {
  position: relative;
  left: 1000px;
  bottom: -30px;
}

.question-page-question-box-userName {
  position: relative;
  left: 1000px;
  bottom: 15px;
  overflow: hidden;
}

/* .question-page-question-voting-icons {
  display:flex;
  flex-direction: row;
  position: relative;
  left: 1100px;
  bottom: -48px;
} */

.question-page-upvote-question-icon {
  position: relative;
  left: 1100px;
  bottom: -48px;
  margin-right: 6px;
  z-index: 1;
}

.question-page-downvote-question-icon {
  position: relative;
  left: 1100px;
  bottom: -48px;
  margin-right: 6px;
  z-index: 1;
}

.question-page-delete-and-edit-question {
  position: relative;
  left: 950px;
  bottom: -63px;
}

.question-page-delete-question-icon {
  margin-right: 5px;
}

.fa-caret-square-up,
.fa-caret-square-down {
  font-size: 16px;
}

.unclickable-vote-button {
  pointer-events: none;
}

.upvoted-arrow {
  color: var(--accent-color);
}

.downvoted-arrow {
  color: #3a99be;
}

.question-page-delete-and-edit-question {
  position: relative;
  left: 950px;
  bottom: -63px;
}

.question-page-delete-question-icon {
  margin-right: 8px;
}

.fa-caret-square-up,
.fa-caret-square-down {
  font-size: 16px;
}

.editQuestionForm {
  display: none;
  position: fixed;
  z-index: 3;
  left: 700px;
  top: 0px;
}

.edit-question-form-button-wrapper {
  position: relative;
  left: 130px;
}


/*--------------------------answer box setup------------------------*/

.wrapper-for-all-answers {
  margin-top: -80px;
}
.question-page-answer-box-outer-wrapper {
  color: var(--text-color);
  background-color: var(--secondary-background);
  border: 1px solid var(--accent-color);
  border-radius: 1rem;
  padding: 30px;
  width: 900px;
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  left: 500px;
}


/*--------------------------search results page setup------------------------*/
.no-question-found {
  position: relative;
  left: 50px;
  align-self: center;
  width: 400px;
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  background-color: var(--secondary-background);
  border: 1px solid var(--accent-color);
  border-radius: 2rem;
  padding: 30px;
  height: 150px;
  text-align: left;
}

.single-search-result {
  position: relative;
  left: 55px;
}

.no-question-found a {
  color: #ff5722;
}
.search-page-title {
  font-size: 30px;
  padding: 10px 30px;
  margin: 20px;
  border: 3px solid #ff562285;
  border-radius: 1rem;
  display: inline-block;
}

.search-page-top-10 {
  margin-bottom: 20px;
}

.search-page-top-10 p {
  font-size: 25px;
  color: var(--accent-color);
}

.search-question-1 {
  grid-area: search-question-1;
}

.search-question-2 {
  grid-area: search-question-2;
}

.search-question-3 {
  grid-area: search-question-3;
}

.search-question-4 {
  grid-area: search-question-4;
}

.search-question-5 {
  grid-area: search-question-5;
}

.search-question-6 {
  grid-area: search-question-6;
}

.search-question-7 {
  grid-area: search-question-7;
}

.search-question-8 {
  grid-area: search-question-8;
}

.search-question-9 {
  grid-area: search-question-9;
}

.search-question-10 {
  grid-area: search-question-10;
}

.search-question-box-container {
  justify-content: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "search-question-1 search-question-2"
    "search-question-3 search-question-4"
    "search-question-5 search-question-6 "
    "search-question-7 search-question-8 "
    "search-question-9 search-question-10 ";
  gap: 40px 120px;
}

.search-question-box {
  color: var(--text-color);
  background-color: var(--secondary-background);
  border: 1px solid var(--accent-color);
  border-radius: 2rem;
  padding: 30px;
  width: 400px;
  height: 400px;
  text-align: left;
}

.search-question-title-text-wrapper {
  height: 290px;
}

.search-question-box-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 1rem;
  max-height: 80px;
  overflow-y: hidden;
}

.search-question-box-top-divider {
  border: 1px solid #ff562285;
  border-radius: 5px;
  margin-bottom: 10px;
}

.search-question-box-text {
  height: 180px;
  overflow-y: hidden;
}

.search-question-box-category {
  position: relative;
  bottom: -10px;
  left: 10px;
  background-color: var(--main-background);
  padding: 7px 10px;
  display: inline-block;
  border-radius: 2rem;
}

.search-question-box-userName {
  position: relative;
  left: 220px;
  bottom: 40px;
  overflow: hidden;
}

.search-question-box-score {
  position: relative;
  left: 220px;
  bottom: -5px;
}

/*--------------------------footer setup------------------------*/

.contact-footer {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px dashed #ff562285;
  border-radius: 1rem;

  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background-image: radial-gradient(80px 20px at center, #2d4059, #222831);
}

.contact-link {
  margin-top: 5px;
}

.contact-link a {
  color: var(--accent-color);
  text-decoration: none;
}
