/*------------------root variable setup------------------------*/
:root {
  --main-background: #222831;
  --secondary-background: #2d4059;
  --accent-color: #ff5722;
  --text-color: #eeeeee;
}

/*----------------------Basic body setup----------------------*/

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-kerning: auto;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
}
body {
  text-align: center;
  background-color: var(--main-background);
  color: var(--text-color);
}

/*------------------------Navbar setup-------------------------*/

.nav_bar {
  background-color: var(--secondary-background);
}
.logo {
  justify-self: stretch;
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

img {
  max-width: 150px;
  max-height: 100%;
}

.nav_container {
  list-style: none;
}

.nav_container li {
  display: inline-block;
  padding: 0px 10px;
}

.nav_container li a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav_container li a:hover {
  color: var(--accent-color);
}
.login_signup {
  padding: 0px 50px;
}

.login_button,
.signup-button {
  padding: 5px 15px;
  margin: 5px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.login_button:hover,
.signup_button:hover {
  background-color: #ff562285;
}

/*--------------------------signup setup------------------------*/

.signup_user {
max-width: 500px;
  width: 100%;
  background: var(--secondary-background);
  padding: 25px 30px;
  border-radius: 10px;
  margin: 100px auto;
   box-shadow: 0 5px 10px rgba(0,0,0,0.15)
}
.signup_user .title {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
}

.signup_user form .form-group {
  display: flex;
   flex-wrap: wrap;
  justify-content: space-between;

}

.signup_errors {
  background-color: red;
}
.signup_user .form-control {

   margin: 0px 0 12px 0;
  width: calc(100%/2- 20px);
  height: 45px;
}
